*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;

    border: 2px solid black;
    margin: 20px;
}

.container div{
    width: 100px;
    height: 100px;

    background-color: red;
    margin: 10px;

    font-size: 24px;
    font-weight: 200px;
    text-align: center;
}